<div class="login-container">
    <h1><%= title %></h1>
  
    <% if (Array.isArray(messages) && messages.length > 0) { %>
      <div class="flash-messages1">
        <% messages.forEach(message => { %>
          <p><%= message %></p>
        <% }) %>
      </div>
    <% } %>
  
    <% if (errors) { %>
      <ul class="notice1">
        <% errors.array().forEach(error => { %>
          <li><%= error.msg %></li>
        <% }) %>
      </ul>
    <% } %>
  
    <form action="/account/login" method="POST">
      <div class="form-group">
        <label for="account_email">Email:</label>
        <input type="email" id="account_email" name="account_email" placeholder="example@email.com" required value="<%= locals.account_email %>">
      </div>
      <div class="form-group">
        <label for="account_password">Password:</label>
        <input type="password" id="account_password" name="account_password" placeholder="Password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
      </div>
      <p>Password must be at least 12 characters long, contain at least 1 capital letter, 1 number, and 1 special character.</p>
      <button type="submit">Login</button>
    </form>
  
    <p>Don't have an account? <a href="/account/register">Register here</a></p>
</div>