<div id="hero">
    <h1>Welcome to CSE Motors!</h1>
    <div class="cta">
        <h2>DMC Delorean</h2>
        <p>3 Cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dice!</p>
        <a href="#" class="cta-button">Own Today!</a>
    </div>
    <img src="images/vehicles/delorean.jpg" alt="Delorean" class="welcome-image" width="500" height="255">
</div>

<div class="main-content">
    <div class="delorean-reviews">
        <h2>DMC Delorean Reviews</h2>
        <hr>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>

    <div class="upgrades-container">
        <h2>Delorean Upgrades</h2>
        <hr>
        <div class="delorean-upgrades">
            <a class="card" href="#">
                <img src="images/upgrades/flux-cap.png" alt="" width="65" height="65">
                <span>Flux Capacitor</span>
            </a>
            <a class="card" href="#">
                <img src="images/upgrades/flame.jpg" alt="" width="65" height="82">
                <span>Flame Decals</span>
            </a>
            <a class="card" href="#">
                <img src="images/upgrades/bumper_sticker.jpg" alt="" width="65" height="57">
                <span>Bumper Stickers</span>
            </a>
            <a class="card" href="#">
                <img src="images/upgrades/hub-cap.jpg" alt="" width="65" height="65">
                <span>Hub Caps</span>
            </a>
        </div>
    </div>
</div>