<div class="management-container">
    <h1>Inventory Management</h1>
    <p class="form-message">Please select an option below to manage website inventory.</p>
    <% if (messages.length > 0) { %>
        <div class="flash-messages">
            <% messages.forEach(message => { %>
                <p><%= message %></p>
            <% }) %>
        </div>
    <% } %>
    <a href="/inv/add-classification">Add New Classification</a>
    <a href="/inv/add-inventory">Add New Inventory Item</a>
    <a href="/inv/delete-classification">Delete Classification</a>
</div>